@import "compass";
@import 'variables';
@import "extend";

html{ font-size: 62.5%; }

body{
    color: $fontcolor;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.1em;
    background-color: $basecolor;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.box {
    background-image:
url("../images/music.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

#artist {
    background-color: $basecolor;
    .container {
        @include display-flex;
        justify-content: space-between;
        @include flex-direction(column);
        .artist-box {
            border: 1px solid;
            margin: 10px 10px;
            
            h3 {
                border: 1px solid;
                background-color: $subcolor;
                margin: 0;
               
            }
            p {
                text-align: center;
                background-color: $keycolor;
                margin: 0;
            }
        }
    }
}


#button {
    background-color: $subcolor;
    text-align: center;
    p {
        padding-top:30px;
    }
    button {
        margin-bottom:30px;
        @include border-radius(4px);
        background-color: $keycolor;
    }
}

@media (min-width: 769px) {
    .box {
        height: 500px;
    }
    
    #artist {
        .container {
            @include flex-direction(row);
            justify-content: space-between;
            width: 100%;
        }
        .artist-box {
            margin: 0 10px;
            width: 30%;
        }
    }
}